@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300;400;600;700&display=swap');

/* ---------------- UNIVERSAL STYLES ----------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

.title {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #0067C8;
    font-size: 3.75rem;

    margin-bottom: 2rem;
}

/* ----------------  Navbar  ----------------- */

#nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #0067C8;
}

.rotary-logo img {
    width: 11rem;

    padding: 1rem;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main-nav li {
    list-style: none;
}

.main-nav a {
    text-decoration: none; 

    color: white;
}

/* ---------------- Hero ----------------- */

#hero {
    background-color: #0067C8;

    height: 100%;
}

.hero-info .heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 3.25rem;
    color: white;

    text-align: center;

    padding: 3rem 1rem;
    padding-bottom: 4rem;
}

.hero-info .highlight {
    display: block;
    color: #F7A81B;

    font-size: 5.125rem;
    font-family: 'Open Sans Condensed', sans-serif;
}

.hero-img-grid {
    padding: 1rem 1rem;
    display: grid;
    height: 100%;
    gap: 1rem;
    grid-template-rows: 340px 250px 250px 250px;
    grid-template-columns: repeat(4, 1fr);

    background-color: #F7A81B;
}

.hero-img,
.mission-img,
.quote-img,
.join-img {  /* This will add style to quote images */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-img.one {
    background-image: url(./images/profile-rotary-logo.jpg);

    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

.hero-img.two {
    background-image: url(./images/rotary-sdq-helping-01.jpg);

    grid-row: 2 / span 1;
    grid-column: 1 / span 4;
}

.hero-img.three {
    background-image: url(./images/hero-01.jpg);

    grid-row: 3 / span 1;
    grid-column: 1 / span 4;
}

.hero-img.four {
    background-image: url(./images/rotary-sdq-group-02.jpg);

    grid-row: 4 / span 1;
    grid-column: 1 / span 4;
}

/* ---------------- Mission statement ----------------- */

#our-mission {
    background-color: white;
    color: #58585A;
    text-align: center;

    padding: 4rem 1rem;

    position: relative;
    z-index: 10;
}

.mission-statement {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125rem;

    margin-bottom: 3rem;
}

.mission-img {
    background-image: url(./images/group-mobile.png);
    height: 200px;

    margin-top: 5rem;
    position: relative;
    z-index: 10;
    
}

.img-bg {
    background-color: #018D8D;
    width: 285px;
    height: 240px;
    position: absolute;
    top: 342px;
    right: 0px;
    z-index: 0;
}


/* ---------------- Quote and images ----------------- */

#quote {
    background-color: #019FCB;
    height: 115vh;

    margin-top: 24rem;
    position: relative;
}

.quote-img-container {
    padding: 4rem 1rem;
    width: 100%;

    position: absolute;
    top: -27rem;
    left: 0;
}

.quote-img {
    height: 240px;

    margin-bottom: 1.5rem;
}

.quote-img.q-one {
 background-image: url(./images/juntos-01.jpg);
}

.quote-img.q-two {
    background-image: url(./images/juntos-02.jpg);
}

.quote-img.q-three {
background-image: url(./images/juntos-03.jpg);
}

.quote {
    padding: 0 1rem;
    padding-top: 29rem;
    

    color: white;
    text-align: center;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2.875rem;
}

.founder {
    display: block;
    text-align: center;
    color: white;
    font-weight: 200;

    margin-top: 2rem;
}

/* ---------------------- Join Rotary ---------------------- */

#join-rotary {
    text-align: center;
    padding: 4rem 1rem;
}

.join-img {
    height: 190px;
    background-image: url(./images/rotary-sdq-group-03.jpg);

    margin-bottom: 3rem;
}

.join-rotary-text .title {
    font-size: 3.125rem;
}

.join-para {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #58585A;
    line-height: 1.875rem;

    margin-bottom: 4rem;
}

.button {
    padding: 0.7rem 4rem;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;

    background-color: #F7A81B;
    border-radius: 30px;

    text-decoration: none;
}

/* ---------------------- FOOTER ---------------------- */

#footer {
    background-color: #0067C8;

    padding-top: 2rem;
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin-bottom: 1rem;
}

/* -------------------------------------------------------------- */
/*------------------------ Media Queries ------------------------ */

@media screen and (min-width: 650px) {
    
    /* Navbar */

    .main-nav {
        gap: 7rem;
    }
    
    /* Hero */

   .hero-info .heading {
       padding-bottom: 5rem;
   }

   .hero-img-grid {
       padding: 4rem;

       gap: 2rem;

       grid-template-rows: repeat(4, 150px);
       grid-template-columns: repeat(4, 1fr);
   }

   .hero-img.one {
       grid-row: 1 / span 2;
       grid-column: 1 / span 2;
   }

   .hero-img.two {
    grid-row: 1 / span 2;
    grid-column: 3 / span 2;
    }

    .hero-img.three {
        grid-row: 3 / span 2;
        grid-column: 1 / span 2;
    }

    .hero-img.four {
        grid-row: 3 / span 2;
        grid-column: 3 / span 2;
    }

    /* Mission Statement */

    .mission-statement {
        margin-bottom: 6rem;
    }

    .img-bg {
        top: 20.8rem;
        right: 0;
        height: 23rem;
        width: 32.93rem;
    }

    .mission-img {
       margin: 0 3rem;
       height: 18.8rem;
    }

    .mission-text {
        padding: 1rem 4rem;
    }

    /* Quote */

    #quote {
        height: 98vh;
    }

    .quote-img-container {
        padding: 6rem 4rem;
    }

    .quote {
        padding: 0 4rem;
        padding-top: 32rem;

        width: 35.75rem;
        margin: 0 auto;
    }

    .founder {
        margin-top: 4rem;
    }

    /* Join rotary */

    #join-rotary {
        padding: 6rem 4rem;
    }

    .join-img {
        height: 20.75rem;
    }

    .join-rotary-text {
        padding: 0 4rem;
    }
}

@media screen and (min-width: 1080px) {

    /* navbar */

    #nav-menu {
        flex-direction: row;
        justify-content: space-around;
    }

    .main-nav {
        justify-content: flex-end;
        gap: 4rem;
    }

    /* hero */

    .hero-info .highlight {
        display: inline;
        margin-right: 2rem;
    }

    .hero-img-grid {
        height: 50vh;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(12, 1fr);

        gap: 1rem;
    }

    .hero-img.one {
        grid-row: 1 / span 6;
        grid-column: 4 / span 4;
    }
 
    .hero-img.two {
     grid-row: 1 / span 3;
     grid-column: 1 / span 3;
     }
 
     .hero-img.three {
         grid-row: 1 / span 6;
         grid-column: 8 / span 5;
     }
 
     .hero-img.four {
         grid-row: 4 / span 3;
         grid-column: 1 / span 3;
     }

     /* Mission statement */

     #our-mission {
        max-width: 80%;
        margin: 3rem auto;

        padding: 4rem 4rem;
        display: flex;
        justify-content: space-between;
        align-content: center;
     }

     .mission-text {
         width: 50%;
         gap: 0;
         padding: 0;

         text-align: left;
     }

     .mission-text .title {
         margin-bottom: 1rem;
     }

     .mission-statement {
         margin-bottom: 0;

         font-size: 1rem;
         line-height: 1.8rem;
     }

     .img-bg {
        width: 17rem;
        height: 14rem;
        top: 3rem;
        right: 4.1rem;
     }

     .mission-img {
        width: 19rem;
        height: 12rem;

        float: right;
        margin-right: 1.2rem;
     }

     /* Quote */

     #quote {
         margin: 9rem 9rem;
         margin-bottom: 3rem;

         max-height: 65vh;
     }

     .quote-img-container {
        width: 90%;
        display: flex;
        justify-content: space-around;
        top: -12rem;
        left: 4rem;
        right: 3rem;
        gap: 1rem;
     }

     .quote-img {
         width: 16rem;
         height: 11rem;
         margin-bottom: 0;
     }

     .quote {
         padding-top: 12rem;
         width: 47.5rem;
     }

     .founder {
         margin-top: 2rem;
         font-size: 1.2rem;
     }

     /* Join Rotary */

     #join-rotary {
        margin: 0 9rem; 
        padding: 3rem 0;
        margin-bottom: 4rem;

        display: flex;
        justify-content: center;
     }

     .join-img {
         width: 100%;
         height: 17rem;
         margin-bottom: 0;
     }

     .join-rotary-text .title {
         font-size: 4rem;
         margin-bottom: 1rem;
     }

     .join-para {
         padding: 0 2.8rem;
         margin-bottom: 2rem;
     }

     /* Footer */
     
     .footer-logo img {
         width: 16.25rem;
     }

     #footer .main-nav {
        gap: 6rem;
     }

     #footer a {
         font-size: 1.25rem;
     }

}